<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<!-- <a routerLink="/home" class="navbar-brand">Logo</a> -->
			<a class="navbar-brand" routerLink="/home">
				<img class="img-responsive logo" src="./assets/images/fabCommercio.jpg" alt="Logo"
				width="200" height="35">
			  </a>
			<button class="navbar-toggler" data-target="#navigation" data-control="navigation" data-toggle="collapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navigation">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a routerLink="/home" class="nav-link">Home</a>
					</li>					
					<li class="nav-item">
						<a routerLink="/products" class="nav-link">Products</a>
					</li>

					<li class="nav-item">
						<a routerLink="/contactUs" class="nav-link">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>
