<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Address</h5>
                <ul class="list-unstyled quick-links">
                    <li><i class="fa fa-angle-double-right"></i> A-388, Block-D, N. Nazimabad, Karachi, Pakistan.</li>
                </ul>
            </div>
           
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Email</h5>
                <!-- <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                </ul> -->
                <ul class="list-unstyled quick-links">
                    <li><i class="fa fa-angle-double-right"></i> fabcommercio@gmail.com</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Cell</h5>
                <ul class="list-unstyled quick-links">
                    <li><i class="fa fa-angle-double-right"></i> +92-3323419562</li>
                </ul>
            </div>
        </div>
    </div>
        <hr>	
        <div class="row" style="margin-top: -15px;">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p style="color:black" class="h6">Desgined by Shoaib Ghalib</p>
                
            </div>
            <hr>
        </div>	
    
</section>
<!-- ./Footer -->