<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2 class="mt-4 mb-3 ">Contact Us
  </h2>
  <!-- Content Row -->
  <div class="row">
    <!-- Map Column -->
    <div class="col-lg-8 mb-4">
      <iframe width="100%" height="230" src="https://maps.google.com/maps?width=100%&amp;height=230&amp;hl=en&amp;coord=24.8516, 67.0007&amp;q=bolton%20market+(Fab%20Commercio)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      <!-- Embedded Google Map -->
      <!-- <iframe width="100%" height="230px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe> -->
    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-4 mb-4">
      <h3 style="color: #317aeb">Contact Details</h3>
      <p>
          Office #715, 7th Floor, AL-ZEHRA SQUARE,
          <br> Bolten Market, Opposite MEMON Masjid,
          <br> Karachi, Pakistan.
        <br>
      </p>
      <p>
       <b>Mobile:</b> +923368944699, +923322180441
      </p>
      <p>
       <b>E-Mail:</b>
        <a href="mailto:fabcommercio@gmail.com"> fabcommercio@gmail.com
        </a>
      </p>
      <p>
        <b>Timing:</b> Monday - Friday: 9:00 AM to 5:00 PM
      </p>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12 mb-4">
      <h3>Send us a Message</h3>
      <div class="card" style="padding: 15px; background: whitesmoke;">
          <form name="sentMessage" method="POST" action="https://formspree.io/shoaib.ghalib@hotmail.com" id="contactForm" novalidate>
              <div class="row">
                <div class="col-md-6">
                    <div class="control-group form-group">
                        <div class="controls">
                          <label><b>Full Name:</b></label>
                          <input type="text" class="form-control" id="name" name="Name" required data-validation-required-message="Please enter your name.">
                          <p class="help-block"></p>
                        </div>
                      </div>
                      <div class="control-group form-group">
                        <div class="controls">
                          <label><b>Phone Number:</b></label>
                          <input type="tel" class="form-control" id="phone" name="Phone Number" required data-validation-required-message="Please enter your phone number.">
                        </div>
                      </div>
                      <div class="control-group form-group">
                        <div class="controls">
                          <label><b>Email Address:</b></label>
                          <input type="email" class="form-control" id="email" name="Email" required data-validation-required-message="Please enter your email address.">
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="control-group form-group">
                        <div class="controls">
                          <label><b>Message:</b></label>
                          <textarea rows="6" cols="100" class="form-control" name="Message" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                      </div>
                      <!-- For success/fail messages -->
                      <button type="submit" class="btn btn-default float-right" style="background-color: #317aeb; color: white" id="sendMessageButton">Send Message</button>
                      </div>
              </div>
            </form>
      </div>
      
    </div>

  </div>
  <!-- /.row -->

</div>