<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h2 class="mt-4 mb-3">Our Products
    </h2>

    <div class="row" style="margin-bottom: 50px;">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a ><img class="card-img-top" src="./assets/images/water.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="color: #317aeb">
              <a>Water Treatment Plants</a>
            </h4>
            <p class="card-text">RO PLANTS, Reverse osmosis involves diffusion, making the process dependent on pressure, flow rate, and other conditions. Reverse osmosis is most commonly known for its use in drinking water purification from seawater, removing the salt and other effluent materials from the water molecules. We deal in Sewage Treatment Plants, seawater conversion plants, etc. as the world is getting a step ahead we offer these plants from the well-known manufacturers of the world who are continuously working on advancement of water treatment technology.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a ><img class="card-img-top" src="./assets/images/construction.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="color: #317aeb">
              <a>Construction Material</a>
            </h4>
            <p class="card-text">Looking for flooring or wall tiles? We have an extensive range of tiles from contemporary whites to vibrant brights. Time for some new Flooring? We supply an unrivaled range of tiles from porcelain slate-effect to natural stone.
                Ceramic Floor Tiles, Full Body Marble Tiles, Rustic Tile,we provide uniquely designed and quality oriented tiles to make a long term relationship with our clients.
                </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a ><img class="card-img-top" src="./assets/images/pharma.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title" style="color: #317aeb">
                <a>Surgical Items / Pharmaceuticals</a>
              </h4>
              <p class="card-text">We trade in surgical blade, Thermometer, Disposable stapler, Connecting tube, etc. In fact we have widest range of products for hospitals, doctors, clinics and surgeons. We sell to distributors / wholesalers all over Pakistan who sell our products in their local markets.
                  Since health and hygiene are to be prioritized we make sure that surgical items are from a reliable supplier and world renowned manufacturers.
                  </p>
            </div>
          </div>
        </div>
      <!-- <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >Project Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >Project Five</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div> 
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >Project Six</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div> -->
    </div>

  </div>
